.trainers{
    margin-top: 5rem;
}

.trainers_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.trainers_container img{
    height: 30rem;
    width: 30rem;
}

.trainer{
    border: 2px solid transparent;
    padding: 2rem;
    border-radius: 1rem;
    background: var(--gray-color-500);
    transition: var(--transition);
}

.trainer:hover{
    border-color: var(--gray-color-400);
    background: transparent;
}

.trainer h2{
    margin-block: 1rem;
    text-align: left;
}

.trainer small{
    font-size: 1.5rem;
    margin-top: 0rem; 
    text-align: left; 
}

.trainer_socials{
    margin-block: 1em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    font-size: 2rem;
}

.trainer_socials a{
    background: var(--gray-color-600);
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trainer_socials a:hover{
    color: var(--secondary-color);
    transition: var(--transition);
}

@media screen and (max-width:1024px) {
    .trainers_container{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width:600px) {
    .trainers_container{
        grid-template-columns: 1fr;
    }

    .trainer{
        width: 90%;
        margin-inline: auto;
    }
}